<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jfet.batsPass"
      android:versionCode="10"
      android:versionName="1.04737757701">
      <!--  versionName is an increasing substring of -3/pi/cos(e) -->
      <!-- 1.0473775770143419466861320691326785615495853476895478 -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <permission android:name="org.jfet.batsPass.BatsPassProvider.PERMISSION"
                android:protectionLevel="signature"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:label="Bats! Password DB Read"
    />

    <!-- external and internal storage for actually reading the M3u files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="org.jfet.batsPass.BatsPassProvider.PERMISSION" />
     
    <application android:label="@string/app_name"
        		 android:icon="@drawable/ic_launcher"
        		 android:allowBackup="true" 
        		 android:theme="@android:style/Theme.Holo" >
        <activity android:name="org.jfet.batsPass.BatsPassMain"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:alwaysRetainTaskState="false"
                  android:clearTaskOnLaunch="true"
                  android:stateNotNeeded="true"
                  android:excludeFromRecents="true"
                  android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- gmail attachments are content URIs with random filenames, so we don't put a pathPattern here -->
                <data android:mimeType="application/octet-stream" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity android:name="org.jfet.batsPass.BatsPassSettings"
                  android:label="@string/app_name_prefs"
                  android:screenOrientation="portrait"
                  android:alwaysRetainTaskState="false"
                  android:clearTaskOnLaunch="true"
                  android:stateNotNeeded="true"
                  android:parentActivityName="org.jfet.batsPass.BatsPassMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jfet.batsPass.BatsPassMain" />
        </activity>
        <provider android:name="org.jfet.batsPass.BatsPassProvider"
            	  android:authorities="org.jfet.batsPass.BatsPassProvider"
            	  android:permission="org.jfet.batsPass.BatsPassProvider.PERMISSION"
            	  android:grantUriPermissions="true"
				  android:exported="true"
				  android:enabled="true"
				  android:initOrder="999"
				  android:label="@string/app_content"
				  android:multiprocess="false" >
           <path-permission
               android:pathPattern=".*"
               android:permission="org.jfet.batsPass.BatsPassProvider.PERMISSION" />
           <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>

</manifest>
