<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jfet.batsPass"
      android:versionCode="5"
      android:versionName="1.04737">
      <!--  versionName is an increasing substring of -3/pi/cos(e) -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- external and internal storage for actually reading the M3u files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
 
    <application android:label="@string/app_name"
        		 android:icon="@drawable/ic_launcher"
        		 android:allowBackup="true" 
        		 android:theme="@android:style/Theme.Holo" >
        <activity android:name="org.jfet.batsPass.BatsPassMain"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:alwaysRetainTaskState="false"
                  android:clearTaskOnLaunch="true"
                  android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.db" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity android:name="org.jfet.batsPass.BatsPassSettings"
                  android:label="@string/app_name_prefs"
                  android:screenOrientation="portrait"
                  android:alwaysRetainTaskState="false"
                  android:clearTaskOnLaunch="true"
                  android:stateNotNeeded="true"
                  android:parentActivityName="org.jfet.batsPass.BatsPassMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.jfet.batsPass.BatsPassMain" />
        </activity>
    </application>

</manifest>
